/* .logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40;
}
.h1{
    margin: auto;
    width: 25%;
    padding: 20px;
}
.p{
    color: gray;
    margin: auto;
    width: 16%;
    padding: 5px;
}
.btn{
    text-align: center;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    border: transparent;
}

.anc{
    text-decoration: none;
    color: black; */
/* }
.res{
    text-decoration: none;
    color: black;
}
.fb{
    margin-left: 50xp;
}
#img{
    margin-right: 20px;
    position: absolute;
    transform: translate(200px,-50px)
}
#sp{
    margin-right: 20px;
    position: absolute;
    transform: translate(1200px,-50px);
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 25px;
    color: #364ec7;
    border-color: #364ec7;

} */
/* #icon{
    margin-right: 20px;
    position: absolute;
    transform: translate(1220px,-40px);
}




.dc{
    color: #364ec7;
    font-weight: bold;
    margin-left: 500px;
    font-size: medium;
}
.dn{ */
    /* padding: 10px; */
    /* padding-left: 250px;
    padding-right: 250px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 500px; */
    /* border: green; */
    /* margin-top: 10px; */
    /* border-radius: 5px;
    border-color: green;
}
.button{
    padding-left: 255px;
    padding-right:255px ;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px; */
    /* margin: auto;4 */
    /* margin-left: 500px; */
    /* border-color: green; */
    /* display: inline-block; */
    /* text-align: center; */
    /* color:white ;
    background-color: #364ec7;
    border: none;
    text-decoration: none;
}
#how:hover{
    color: green;
    cursor: pointer;
}
#ind{
    text-decoration: none;
    color: black;
}
.a2{
    color: #364ec7;
    text-decoration: none;
} */